*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #8fe2ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 550px;
  height: 350px;
  background: #4b4b56;
  border-radius: 10px;
  border: 4px solid #353535;
  position: relative;
}

.container:before {
  display: block;
  content: '';
  width: 89%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 3%;
}

.container:after {
  content: '';
  width: 104%;
  height: 30%;
  background: #4b4b56;
  border-radius: 10px;
  border: 4px solid #353535;
  position: absolute;
  z-index: -1;
  bottom: 7%;
  margin-left: -2%;
}

.container .label {
  width: 90%;
  height: 64%;
  background: #4b4b56;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 7%;
  -webkit-box-shadow: inset 0 0 0 4px #353535;
          box-shadow: inset 0 0 0 4px #353535;
}

.container .label:before {
  content: 'A';
  width: 1.3em;
  height: 1.3em;
  background: #4b4b56;
  border-radius: 1px;
  position: absolute;
  top: 12%;
  left: 3%;
  color: #f8f8f8;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  padding: 3px;
}

.container .label:after {
  content: 'The Weeknd';
  display: block;
  color: #adadad;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  position: absolute;
  top: 17%;
  right: 5%;
}

.container .label .cutout {
  width: 70%;
  height: 46%;
  background: #4b4b56;
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: 36%;
  -webkit-box-shadow: 0 0 0 4px #353535;
          box-shadow: 0 0 0 4px #353535;
}

.container .label .cutout:before {
  content: 'Beauty Behind The Madness';
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: -25%;
}

.container .label .cutout:after {
  content: 'W 69';
  display: block;
  background: #e6584c;
  height: 36%;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 1.2% 5%;
  -webkit-box-shadow: inset 0 0 0 8px #e6584c;
          box-shadow: inset 0 0 0 8px #e6584c;
}

.container .label .cutout .reelHole {
  width: 20%;
  top: 15%;
  background: #adadad;
  border: 3px solid #353535;
  border-radius: 50%;
  position: absolute;
  right: 5.5%;
  -webkit-box-shadow: 0 0 0 3px #4b4b56, 0 0 0 5px #353535;
          box-shadow: 0 0 0 3px #4b4b56, 0 0 0 5px #353535;
}

.container .label .cutout .reelHole:after {
  content: '';
  display: block;
  background: #353535;
  border-radius: 50%;
  padding-bottom: 100%;
  -webkit-box-shadow: inset 0 0 0 6px #adadad;
          box-shadow: inset 0 0 0 6px #adadad;
}

.container .label .cutout .reelHole:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #8fe2ec;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  z-index: 10;
}

.container .label .cutout .reelHole:first-of-type {
  left: 5.5%;
}

.container .label .cutout .reelHole .gear {
  width: 14%;
  height: 86%;
  background: #8fe2ec;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0 0 0 2px #353535;
          box-shadow: 0 0 0 2px #353535;
  margin-left: -7%;
  margin-top: -43%;
  -webkit-animation: gears 3.35s linear infinite alternate;
          animation: gears 3.35s linear infinite alternate;
}

.container .label .cutout .reelHole .gear:before, .container .label .cutout .reelHole .gear:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #8fe2ec;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 0 2px #353535;
          box-shadow: 0 0 0 2px #353535;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.container .label .cutout .reelHole .gear:after {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  position: absolute;
}

@-webkit-keyframes gears {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}

@keyframes gears {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}

.container .label .cutout .window {
  width: 40%;
  height: 68%;
  background: #8fe2ec;
  border: 3px solid #353535;
  position: absolute;
  top: 15%;
  left: 30%;
  overflow: hidden;
}

.container .label .cutout .window:after {
  content: '';
  display: block;
  background: #8fe2ec;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .label .cutout .window .spool {
  width: 70%;
  top: -22%;
  background: #adadad;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #353535;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 10px #626262, 0 0 0 13px #353535;
          box-shadow: 0 0 0 10px #626262, 0 0 0 13px #353535;
}

.container .label .cutout .window .spool:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.container .label .cutout .window .spool:first-of-type {
  left: -64%;
  -webkit-animation: spooling 3.35s linear infinite alternate;
          animation: spooling 3.35s linear infinite alternate;
}

.container .label .cutout .window .spool:last-of-type {
  right: -64%;
  animation: spooling 3.35s linear infinite alternate-reverse;
}

@-webkit-keyframes spooling {
  from {
    -webkit-box-shadow: 0 0 0 0.5em #626262, 0 0 0 calc(0.5em + 3px) #353535;
            box-shadow: 0 0 0 0.5em #626262, 0 0 0 calc(0.5em + 3px) #353535;
  }
  to {
    -webkit-box-shadow: 0 0 0 5em #626262, 0 0 0 calc(5em + 3px) #353535;
            box-shadow: 0 0 0 5em #626262, 0 0 0 calc(5em + 3px) #353535;
  }
}

@keyframes spooling {
  from {
    -webkit-box-shadow: 0 0 0 0.5em #626262, 0 0 0 calc(0.5em + 3px) #353535;
            box-shadow: 0 0 0 0.5em #626262, 0 0 0 calc(0.5em + 3px) #353535;
  }
  to {
    -webkit-box-shadow: 0 0 0 5em #626262, 0 0 0 calc(5em + 3px) #353535;
            box-shadow: 0 0 0 5em #626262, 0 0 0 calc(5em + 3px) #353535;
  }
}

.container .head {
  width: 60%;
  height: 25.5%;
  position: absolute;
  margin-left: 20%;
  bottom: -4%;
}

.container .head:before, .container .head:after {
  display: block;
  content: '';
  width: 70%;
  height: 100%;
  position: absolute;
  background: #4b4b56;
  border: 4px solid #353535;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-repeat: no-repeat;
  background-position: 15% 8%;
  background-size: 100% 4px;
}

.container .head:before {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  left: -8%;
  border-right: none;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: inset 6px 0 0 0 #4b4b56;
          box-shadow: inset 6px 0 0 0 #4b4b56;
}

.container .head:after {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  right: -8%;
  border-left: none;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: inset -6px 0 0 0 #4b4b56;
          box-shadow: inset -6px 0 0 0 #4b4b56;
}

.container .screw {
  position: absolute;
  text-align: right;
  top: 7%;
  left: 4%;
}

.container .screw:before {
  content: '\20e0\fe0e';
  font-size: 1.1em;
  color: #353535;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container .screw.i2 {
  right: 1%;
}

.container .screw.i2:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .screw.i3 {
  bottom: 1%;
}

.container .screw.i3:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.container .screw.i4 {
  right: 1%;
  bottom: 1%;
}

.container .screw.i4:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container .screw.i5 {
  left: calc(50% + 0.5em);
  bottom: 9%;
}

.container .screw.i5:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .hole {
  width: 5%;
  background: #8fe2ec;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #353535;
  bottom: 0;
  left: 50%;
  margin-left: -2.5%;
}

.container .hole:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.container .hole.i1 {
  bottom: 0%;
  left: 28%;
}

.container .hole.i2 {
  bottom: 2%;
  left: 38%;
}

.container .hole.i3 {
  bottom: 0%;
  left: 72%;
}

.container .hole.i4 {
  bottom: 2%;
  left: 62%;
}
