*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #5f1760;
}

.lamp,
.stand,
.stand:before {
  background: #040e15;
}

.stand:after,
.bulb:after {
  background: #fee669;
}

.bulb,
input,
.bulb:before {
  background: #fec93d;
}

.container,
.lamp,
.stand,
.bulb,
input,
.lamp:before,
.stand:before,
.stand:after,
.bulb:before,
.bulb:after,
input:before {
  position: absolute;
}

.container {
  width: 350px;
  height: 350px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .lamp {
  height: 30px;
  width: 140px;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  right: 15px;
}

.container .lamp:before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  height: 5px;
  width: 60px;
  border-radius: 8px;
  top: 8px;
  left: 8px;
}

.container .lamp .stand {
  height: 120px;
  width: 12px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: -110px;
  right: 35px;
  z-index: -1;
}

.container .lamp .stand:before {
  content: '';
  height: 140px;
  width: 12px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  bottom: 85px;
  right: 56px;
}

.container .lamp .stand:after {
  content: '';
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: -7px;
  bottom: 105px;
}

.container .lamp .bulb {
  height: 50px;
  width: 100px;
  border-radius: 50px 50px 0 0;
  bottom: 205px;
  left: -42px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .lamp .bulb:before {
  content: '';
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 45px;
  top: -15px;
}

.container .lamp .bulb:after {
  content: '';
  height: 10px;
  width: 110px;
  border-radius: 5px;
  top: 45px;
  right: -5px;
}

.container .lamp input {
  -webkit-appearance: none;
  height: 12px;
  width: 18px;
  border-radius: 3px 3px 0 0;
  bottom: 26px;
  left: 15px;
  z-index: -1;
  outline: none;
  cursor: pointer;
}

.container .lamp input:before {
  content: '';
  height: 0;
  width: 65px;
  border-bottom: 280px solid rgba(255, 255, 255, 0.5);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -57px;
  right: 72px;
  display: none;
}

.container .lamp input:checked {
  height: 8px;
}

.container .lamp input:checked:before {
  display: block;
}
