$bgColor: #130560;
$lightShadowColor: #ef689e;
$lightShadowColor2: #c6003d;
$darkShadowColor: #a10532;
$propellerColor: #f7ac08;
$windowLightColor: #c9e5d9;

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin fullSize {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

.sea {
  height: 100vh;
  width: 100%;
  background: $bgColor;
  position: absolute;
}

.submarine {
  width: 400px;
  height: 200px;
  @include center();
}

.body {
  background: #e30449;
  width: 250px;
  height: 80px;
  border-radius: 50px;
  @include center();
}

.propeller {
  width: 30px;
  height: 50px;
  @include center();
  left: 80%;
  transform: translate(0, -50%);
}

.parts {
  @include fullSize();
  animation: rotate 1s linear infinite;
}

.partDark {
  position: absolute;
  top: 0;
  @include fullSize();
  background: $propellerColor;
  transform: rotateY(180deg) rotateX(225deg);
}

.partLight {
  @include fullSize();
  background: #f7e349;
  transform: rotateX(45deg);
}

.sail {
  background: $lightShadowColor2;
  width: 90px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -100%);
  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
}

.sailShadow {
  background: $darkShadowColor;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 5px;
}

.dark1 {
  left: 0;
  top: 0;
  transform: translate(0, -33%);
}

.light1 {
  background: $lightShadowColor;
  left: 20%;
  top: 20%;
  width: 50%;
}

.dark2 {
  left: 0;
  top: 50%;
}

.window1,
.window2 {
  background: linear-gradient(45deg, $windowLightColor, #fff);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include center();
  animation: windowShadow 1s linear infinite;
}

.window1 {
  left: 40%;
}

.window2 {
  left: 20%;
}

.shadowDark {
  background: $darkShadowColor;
  width: 70px;
  height: 10px;
  border-radius: 5px;
  @include center();
  top: 65%;
  left: 70%;
}

.shadowLight {
  background: $lightShadowColor;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  @include center();
  top: 13%;
  left: 35%;
}

.shadowCircle {
  background: $lightShadowColor;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 75%;
  top: 20%;
}

.periscope {
  width: 20px;
  height: 50px;
  border-right: 10px solid #e92d77;
  border-top: 10px solid $lightShadowColor2;
  border-left: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 10px;
  position: absolute;
  left: 40%;
}

.periscopeGlass {
  background: $propellerColor;
  width: 5px;
  height: 15px;
  position: absolute;
  left: 40%;
  transform: translate(-50%, -15%);
}

.light {
  background: linear-gradient(to left, #817e97, $bgColor);
  width: 500px;
  height: 100px;
  position: absolute;
  clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
  transform: translate(-18%, -45%);
}

.ground {
  background: #08003b;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes windowShadow {
  0%,
  100% {
    background-image: linear-gradient(
      45deg,
      $windowLightColor 0%,
      $windowLightColor 20%,
      #fff 21%,
      #fff 39%,
      $windowLightColor 40%,
      #fff 41%,
      #fff 59%,
      $windowLightColor 60%
    );
  }
  20% {
    background-image: linear-gradient(
      45deg,
      $windowLightColor 20%,
      $windowLightColor 40%,
      #fff 41%,
      #fff 59%,
      $windowLightColor 60%,
      #fff 61%,
      #fff 79%,
      $windowLightColor 80%
    );
  }
  40% {
    background-image: linear-gradient(
      45deg,
      $windowLightColor 40%,
      $windowLightColor 60%,
      #fff 61%,
      #fff 79%,
      $windowLightColor 80%,
      #fff 81%,
      #fff 99%,
      $windowLightColor 0%
    );
  }
  60% {
    background-image: linear-gradient(
      45deg,
      $windowLightColor 60%,
      $windowLightColor 80%,
      #fff 81%,
      #fff 99%,
      $windowLightColor 0%,
      #fff 1%,
      #fff 19%,
      $windowLightColor 20%
    );
  }
  80% {
    background-image: linear-gradient(
      45deg,
      $windowLightColor 80%,
      $windowLightColor 0%,
      #fff 1%,
      #fff 19%,
      $windowLightColor 20%,
      #fff 21%,
      #fff 39%,
      $windowLightColor 40%
    );
  }
}
