*,
*::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(30deg, #182c51, #09101e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moon {
  background: linear-gradient(30deg, #182c51, #13223f, #0e1a30);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: relative;
}

.moon::before {
  content: '';
  background-color: #c7938b;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: 3.2s cresent linear infinite alternate;
          animation: 3.2s cresent linear infinite alternate;
}

@media (max-width: 768px) {
  .moon {
    width: 160px;
    height: 160px;
  }
}

@-webkit-keyframes cresent {
  0% {
    -webkit-transform: translate(-30px, 30px) scale(0.9);
            transform: translate(-30px, 30px) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: translate(0px, 0px) scale(1.02);
            transform: translate(0px, 0px) scale(1.02);
    -webkit-box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
            box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
    background-color: #efdbd8;
  }
  100% {
    -webkit-transform: translate(30px, -30px) scale(0.9);
            transform: translate(30px, -30px) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes cresent {
  0% {
    -webkit-transform: translate(-30px, 30px) scale(0.9);
            transform: translate(-30px, 30px) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: translate(0px, 0px) scale(1.02);
            transform: translate(0px, 0px) scale(1.02);
    -webkit-box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
            box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
    background-color: #efdbd8;
  }
  100% {
    -webkit-transform: translate(30px, -30px) scale(0.9);
            transform: translate(30px, -30px) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
