//colors
$body: #d43f3f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323232;
  height: 100vh;
  display: flex;
}

.container {
  height: 300px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  align-items: center;

  .head {
    height: 50px;
    width: 50px;
    background: $body;
    border-radius: 50%;
    position: relative;
    left: 35px;
    top: 20px;
    animation: head 1s infinite 1.6s ease-in;
  }

  .body {
    width: 40px;
    height: 100px;
    background: $body;
    border-radius: 60px 10px 0;
    animation: body 1.6s infinite ease-in;
  }

  .leg1,
  .leg2 {
    width: 35px;
    height: 10px;
    background: $body;
    border-radius: 20px 50px 50px 20px;
    position: relative;
    top: 55px;
    left: 20px;
    animation: walk 2s infinite linear;
  }

  .leg2 {
    top: 25px;
    animation-delay: 1s;
  }

  .shadow {
    width: 100px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    animation: shadow 1s infinite 1.6s linear;
  }
}

/* keyframes */
@keyframes head {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes body {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes walk {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateX(-28px rotate(0deg));
  }
  40% {
    transform: translate(-40px, 0) rotate(0deg);
  }
  60% {
    transform: translate(-30px, -10px) rotate(35deg);
  }
  90% {
    transform: translate(10px, -7px) rotate(-35deg);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shadow {
  0% {
    width: 100px;
  }
  50% {
    width: 110px;
  }
  100% {
    width: 100px;
  }
}
