*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  height: 300px;

  .head {
    height: 80px;
    background-color: #ddcfcc;
    border-radius: 10px;
    position: relative;

    .btns {
      width: 25px;
      height: 25px;
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 15px;

      &:after {
        content: '';
        width: 8px;
        height: 9px;
        background-color: #615e5e;
        position: absolute;
        bottom: -8px;
        left: calc(50% - 4px);
      }
    }

    .btn-2 {
      left: 50px;
    }

    .display {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid #43beae;
      background: #9acfc5;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .details {
      width: 8px;
      height: 20px;
      background-color: #9b9091;
      box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .body {
    width: 90%;
    height: 160px;
    background-color: #bcb0af;
    margin: 0 auto;
    position: relative;

    &:before {
      content: '';
      width: 90%;
      height: 60%;
      background-color: #776f6e;
      border-radius: 20px 20px 0 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
    }

    .exit {
      width: 60px;
      height: 20px;
      background: #000;
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      &:before {
        content: '';
        width: 50px;
        height: 20px;
        background-color: #000;
        border-radius: 0 0 50% 50%;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
      }

      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #000;
        position: absolute;
        bottom: -29px;
        left: 50%;
        transform: translate(-50%);
      }
    }

    .arm {
      width: 70px;
      height: 20px;
      background-color: #000;
      position: absolute;
      top: 15px;
      right: 20px;

      &:before {
        content: '';
        width: 20px;
        height: 5px;
        background-color: #9e9495;
        position: absolute;
        top: 7px;
        left: -20px;
      }
    }

    .coffee {
      width: 6px;
      height: 75px;
      background-color: #74372b;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%);
      opacity: 0;
      animation: coffee 4s 4s linear infinite;
    }

    .smoke {
      width: 8px;
      height: 20px;
      background-color: #b3aeae;
      border-radius: 5px;
      position: absolute;
    }

    .smoke-1 {
      bottom: 50px;
      left: 38%;
      opacity: 0;
      animation: smoke-1 3s 4s linear infinite;
    }

    .smoke-2 {
      bottom: 70px;
      left: 43%;
      opacity: 0;
      animation: smoke-2 3s 5s linear infinite;
    }

    .smoke-3 {
      bottom: 65px;
      right: 43%;
      opacity: 0;
      animation: smoke-2 3s 5s linear infinite;
    }

    .smoke-4 {
      bottom: 50px;
      right: 38%;
      opacity: 0;
      animation: smoke-1 3s 4s linear infinite;
    }

    .cup {
      width: 80px;
      height: 47px;
      background-color: #fff;
      border-radius: 0 0 70px 70px / 0 0 110px 110px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);

      &:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 5px solid #fff;
        position: absolute;
        top: 6px;
        right: -13px;
      }
    }
  }

  .foot {
    width: 95%;
    height: 15px;
    background-color: #41bdad;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;

    &:after {
      content: '';
      width: 106%;
      height: 26px;
      background-color: #000;
      position: absolute;
      bottom: -25px;
      left: -8px;
    }
  }
}

@keyframes coffee {
  0% {
    height: 0px;
    opacity: 1;
  }
  5% {
    height: 0px;
    opacity: 1;
  }
  20% {
    height: 75px;
    opacity: 1;
  }
  95% {
    height: 75px;
    opacity: 1;
  }
  100% {
    height: 75px;
    opacity: 1;
  }
}

@keyframes smoke-1 {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}

@keyframes smoke-2 {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
